* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/FontsFree-Net-SFProText-Regular.ttf');
}

/* Header */
.header {
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
}

.header .ac-gn-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

.header .ac-gn-content .ac-gn-list {
    margin: 0 -10px;
    width: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header .ac-gn-content .ac-gn-list li {
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
}

.header .ac-gn-content .ac-gn-list li .ac-gn-link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
}

.header .ac-gn-content .ac-gn-list li .ac-gn-link:hover {
    opacity: 1;
}

.header .ac-gn-content .ac-gn-list li .ac-apple {
    background-size: 16px 44px;
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-1.svg);
    background-position: center center;
    width: 16px;
}

.header .ac-gn-content .ac-gn-list li .ac-mac {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-2.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.85714em;
    max-width: 44.2px;
}

.header .ac-gn-content .ac-gn-list li .ac-ipad {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-3.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.92857em;
    max-width: 45.9px;
}

.header .ac-gn-content .ac-gn-list li .ac-iphone {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-4.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.14286em;
    max-width: 74.8px;
}

.header .ac-gn-content .ac-gn-list li .ac-watch {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-5.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.85714em;
    max-width: 68px;
}

.header .ac-gn-content .ac-gn-list li .ac-tv {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-6.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.28571em;
    max-width: 30.6px;
}

.header .ac-gn-content .ac-gn-list li .ac-music {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-7.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.64286em;
    max-width: 62.9px;
}

.header .ac-gn-content .ac-gn-list li .ac-support {
    background-repeat: no-repeat;
    background-image: url(../img/svgexport-8.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.71429em;
    max-width: 88.4px;
}

.header .ac-gn-content .ac-gn-list li .ac-search {
    background-size: 18px 88px;
    background-repeat: no-repeat;
    background-image: url(../img/image_large_1-1.svg);
    width: 18px;
}

.header .ac-gn-content .ac-gn-list li .ac-shop {
    background-size: 17px 44px;
    background-repeat: no-repeat;
    background-image: url(../img/image_large_1.svg);
    background-position: center center;
    width: 17px;
}

/* HomePage Section */

.hompage-section {
    width: 100%;
}

.hompage-section .data-covid {
    margin-top: 44px;
    height: 44px;
    background-color: #0071E3;
    height: auto;
}

.hompage-section .data-covid .covid-19 {
    height: 44px;
}

.hompage-section .data-covid .covid-19 a{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;;
    padding: 12px 0;
    background: #0071E3;
    color: #ffffff;
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
}

.hompage-section .data-covid .covid-19 a::after {
    content: '>';
    font-size: 12px;
    margin-left: 4.2px;
}

.hompage-section .data-covid .covid-19 a:hover {
    text-decoration: underline;
}

.hompage-section .data-shop {
    height: 64px;
    background-color: #f5f5f7;
    text-align: center;
}

.hompage-section .data-shop .shop-section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.shop-section-content .covid-ribbon-copy {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 12px 0;
}

.covid-ribbon-copy a {
    text-decoration: none;
    color: #0066cc;
    line-height: 21px;
}

/* Main */

.main .data-unit {
    background-color: #fbfbfd;
    width: 100%;
    height: 80vh;
    margin-bottom: 12px;
}

.main .snoopy-tv-4k {
    background-color: #000;
    color: #f5f5f7;
}

.main .snoopy-show {
    padding-top: 40px;
    position: relative;
}

.snoopy-show .div1 {
    height: 45px;
    background: url(/img/tv+.png) no-repeat center;
}
.snoopy-show .div2 {
    height: 25px;
    margin-top:16px;
    margin-bottom: 15px;
    background: url(/img/new-series.png) no-repeat center;
}
.snoopy-show .div3 {
    height: 450px;
    background: url(/img/the-snoopy-show.jpg) no-repeat center;
}


.main .link a {
    background: #000000;
    width: 150px;
    font-weight: 600;
    color: #ffffff;
    z-index: 10;
    position: absolute;
    text-align: center;
    top: 510px;
    left: 670px;
    border-radius: 30px;
    width: 175px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main .link a:hover {
    text-decoration: underline;
}

